@model cst_323___clc_test_app.Models.Story

<h4>Story</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="id" readonly type="text" value="@Model.id" class="form-control" />
                <input asp-for="userID" readonly type="text" value="@Model.userID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" type="text" value="@Model.title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="premise" class="control-label"></label>
                <input asp-for="premise" type="text" value="@Model.premise" class="form-control" />
                <span asp-validation-for="premise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genre" class="control-label"></label>
                <input asp-for="genre" type="text" value="@Model.genre" class="form-control" />
                <span asp-validation-for="genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="story" class="control-label"></label>
                <input asp-for="story" type="text" value="@Model.story" class="form-control" />
                <span asp-validation-for="story" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
